#posts {
    text-align: center;
}

.post {
    border: 0.5px solid silver;
    width: 80%;
    margin: 10px auto;
}

#load_next {
    padding: auto;
    width: 20%;
    height: 30px;
    border: 0.5px solid black;
    border-radius: 15px;
    margin: 30px auto;
    background-color: silver;
}

#load_next:hover {
    cursor: pointer;
    background-color: gray;
}

#new_post {
    height: 200px;
}

textarea {
    width: 80%;
    height: 70%;
    border-radius: 15px;
}
