#posts {
    text-align: center;
}

.post {
    border: 0.5px solid silver;
    width: 80%;
    margin: 10px auto;
}

#load_next {
    padding: auto;
    width: 20%;
    height: 30px;
    border: 0.5px solid black;
    border-radius: 15px;
    margin: 30px auto;
    background-color: silver;
}

#load_next:hover {
    cursor: pointer;
    background-color: gray;
}

#new_post {
    height: 200px;
}

textarea {
    width: 80%;
    height: 70%;
    border-radius: 15px;
}

#userlink {
    color: black;
}

.body {
    text-align: center;
}

#follow {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
}
#follow:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
@media all and (max-width:30em){
   #follow {
        display: block;
        margin: 0.4em auto;
    }
}

#heart_button:hover {
    cursor: pointer;
}

#like {
    margin-bottom: 1rem;
    text-align: left;
    margin-left: 40%;
}

#edit {
    color: silver;
}

#edit:hover {
    cursor: pointer;
    text-decoration: underline;
}
